<h1 class="text-center m-5">Thank you for booking with us!</h1>
<p class="text-center">We look forward to seeing you on {{format_date checkIn}}.</p>
<p class="text-center">A confirmation email will be sent to you at {{reservation.guest.email}} shortly.</p>