{{!-- carousel/hero of hotel pictures --}}
<div class="position-relative">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="/images/TerraceHouseSuite1Revisedw1571.png" class="d-block w-100" alt="hotel room with bed, sofa, swing, table, and tv">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="/images/Harriets5Revisedh1320.png" class="d-block w-100" alt="lobby area filled with chairs and coffee tables">
        </div>
        <div class="carousel-item">
            <img src="/images/Harriets8h1320.png" class="d-block w-100" alt="outdoor patio with string lights, sofas, and fire pits">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p class="fs-1 fw-bold text-wrap text-center bg-light text-dark position-absolute top-50 start-50 translate-middle p-5" style="--bs-bg-opacity: .5;">A World of Comfort Awaits</p>
</div>

{{!-- form to search rooms --}}
{{> booking-form}}

{{!-- brief info on room types --}}
<h2 class="text-center m-5">Our Rooms</h2>
<div class="row row-cols-1 row-cols-md-3 m-5">
    {{#each types}}
        <div class="col">
            <div class="card bg-white text-white mb-4">
                <img src="{{image}}" class="card-img" alt="hotel room for {{name}}">
                <div class="card-img-overlay">
                    <h5 class="card-title bg-dark text-light text-center position-absolute top-50 start-50 translate-middle p-4" style="--bs-bg-opacity: .75;">{{name}}</h5>
                </div>
            </div>
        </div>
    {{/each}}
</div>
