<div class="m-5 w-75 mx-auto">
    <h3 class="my-5 text-center">Sign Up</h3>
    <div class="mb-3 row">
        <label for="fullName" class="col-form-label col-sm-2">Full Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="fullName" placeholder="John Smith">
        </div>
    </div>
    <div class="mb-3 row">
    <label for="email" class="col-form-label col-sm-2">Email address</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="emailSignUp" placeholder="name@example.com">
        </div>
    </div>
    <div class="mb-3 row">
    <label for="phone" class="col-form-label col-sm-2">Phone Number</label>
        <div class="col-sm-10">
            <input type="tel" class="form-control" id="phone" placeholder="1234567890">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-form-label col-sm-2">Password (10 character min.)</label>
        <div class="col-sm-10">
            <input type="password" id="passwordSignUp" minlength="10" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
    </div>

    <div class="d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-dark" id="signup">Sign up</button>
    </div>
</div>
{{!-- 
<script src="./js/login.js"></script> --}}